<!--@@master = components/master.tmpl.html -->

<!--@@block = content-->
<article class="weDo" id="wedo">
    <div class="helpText" style="display: none">
        <p style="display: none">
            Громадська організація "Жуківська".(Гиновичі, Підлісне, Жуків).
            Метою діяльності ГО"Жуківська" є економічний, соціальний, культурний розвиток та інвестиційна привабливість сіл Жуків, Гиновичі, Підлісне (Бережанський р-н. Тернопільська обл.)
        </p>
        <p class="helpText-roof">
            <span>
                2015 року з ініціативи директора ЗОШ та голови сільської ради,
                громада сіл Жуків, Гиновичі, Підлісне подала заявку для участі у Програмі розвитку ООН та ЄС "Місцевий розвиток орієнтований на громаду".
                За підтримки та консультацій експертів ПР ООН було створено громадську організацію "Жуківська".
                Спільними зусиллями громади та партнерів того ж року вдалось реалізувати капітальний ремонт
                даху Жуківської загальноосвітньої школи 1-3 ст. ім. Б.Лепкого.
            </span>
            <span>
                Загальна вартість робіт склала 317 тис. грн.<br>
                У відсотковому відношенні: <br>
                5% - кошти громада <br>
                25% - бюджет Бережанської районної державної адміністрації <br>
                70% - кошти партнера ПРООН "МРОГ" <br>
        </span>
        </p>
        <p class="helpText-zhu">
            <span>
                Мета нашої організації спряти всебічному розвитку особистості, особливо наших дітей.
                Нашими проектами в цьому напрямку є Обласний дитячо-юнацький конкурс творчості "Мистецький вулик" та
                Медовий фестиваль-ярмарок "Жу-жу-Жуків".
                Мета цих проектів: <br>
                - створити умови для творчого розвитку молодих талантів нашої місцевості; <br>
                - збільшити кількість інформації про наш регіон в медійному просторі, для створення туристичної привабливості; <br>
                - підтримати розвиток малого бізнесу, зокрема бджільництва, ягідництва та майстрів традиційних ремесел;
            </span>
        </p>
        <p class="helpText-childPlace">
            <span>
                Наша громадська організація заохочує громаду брати ініціативу у власні руки і самостійно покращувати благоустрій своїх сіл.
            </span>
        </p>
    </div>
    <div class="weDo-modal">
        <div class="weDo-modal-container">
            <button class="weDo-modal-container-btn closeModalBtn">
                <span class="glyphicon glyphicon-remove closeModalBtn"></span>
            </button>
            <div class="weDo-modal-container-modalWrap">
                <img src="img/roof.jpg" alt="Zhukiv, Жуків" class="weDo-modal-container-pic">
                <p class="weDo-modal-container-text">
                <span>
                    2015 року з ініціативи директора Жуківської ЗОШ та голови сільської ради,
                громада сіл Жуків, Гиновичі, Підлісне подала заявку для участі у Програмі розвитку ООН та ЄС "Місцевий розвиток орієтований на громаду".
                За підтримки та консультацій експертів ПР ООН було створено громадську організацію "Жуківська".
                Спільними зусиллями громади та партнерів того ж року вдалось реалізувати капітальний ремонт
                даху Жуківської загальноосвітньої школи 1-3 ст. ім. Б.Лепкого.
                </span>
                    <span>
                    Загальна вартість робіт склала 317 тис. грн.<br>
                    У відсотковому відношенні: <br>
                    5% - кошти громада <br>
                    25% - бюджет Бережанської районної державної адміністрації <br>
                    70% - кошти партнера ПРООН "МРОГ" <br>
                </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="weDo-head head">
            <h1 class="weDo-head-title head-title">
                Напрямки діяльності ГО "Жуківська"
            </h1>
            <img src="img/line_ico.png" alt="___________" class="weDo-head-line head-line">
            <p class="weDo-head-subs head-subs">
                Метою діяльності нашої громадської організації є економічний, соціальний, культурний розвиток та інвестиційна привабливість сіл Жуків, Гиновичі, Підлісне (Бережанський р-н. Тернопільська обл.)
            </p>
        </div>
        <div class="weDo-content row">
            <div class="col-sm-4 weDo-content-item">
                <div class="weDo-content-item-img">
                    <img src="img/stucture_ico.png" alt="social icon" class="weDo-content-item-img-pic">
                </div>
                <h3 class="weDo-content-item-title">Інфраструктурна сфера</h3>
                <p class="weDo-content-item-subs">
                    2015 року спільними зусиллями громади та партнера - Програма розвитку ООН та ЄС "Місцевий розвиток орієтований на громаду"
                    нам вдалось реалізувати капітальний ремонт даху Жуківської загальноосвітньої школи 1-3 ст. ім. Б.Лепкого.
                </p>
                <button class="weDo-content-item-btn openModalBtn openModalBtn-roof">Читати більше</button>
            </div>
            <div class="col-sm-4 weDo-content-item">
                <div class="weDo-content-item-img">
                    <img src="img/culture_ico.png" alt="culture icon" class="weDo-content-item-img-pic">
                </div>
                <h3 class="weDo-content-item-title">Культурна сфера</h3>
                <p class="weDo-content-item-subs">
                    Мета нашої організаці сприяти всебічному розвитку особистості, зокрема дітей.
                    ГО "Жуківська" спільно з Жуківською Державною Музичною школою реалізувала в цьому напрямку:
                    Обласний дитячо-юнацький конкурс творчості "Мистецький вулик"
                    та Медовий фестиваль-ярмарок "Жу-жу-Жуків".
                </p>
                <button class="weDo-content-item-btn openModalBtn openModalBtn-zhu">Читати більше</button>
            </div>
            <div class="col-sm-4 weDo-content-item">
                <div class="weDo-content-item-img">
                    <img src="img/social_ico.png" alt="social icon" class="weDo-content-item-img-pic">
                </div>
                <h3 class="weDo-content-item-title">Соціальна сфера</h3>
                <p class="weDo-content-item-subs">
                    Наша громадська організація заохочує громаду брати ініціативу у власні руки і самостійно покращувати благоустрій своїх сіл.
                </p>
                <button class="weDo-content-item-btn openModalBtn openModalBtn-childPlace">Читати більше</button>
            </div>
        </div>
    </div>
</article>
<article class="moments">
    <div class="modalSlider" >
        <div class="modalSlider-container">
            <button class="modalSlider-container-btn closeModalSliderBtn">
                <span class="glyphicon glyphicon-remove closeModalSliderBtn"></span>
            </button>
            <img src="img/gallery-3.jpg" alt="Жуків, фестиваль ярмарок меду, Підлісне, Гиновичі, Жу-Жу-Жуків, Zhu-zhu-Zhukiv" class="modalSlider-container-pic">
            <button class="modalSlider-container-btnMove modalSlider-container-btnMove_left">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
            <button class="modalSlider-container-btnMove modalSlider-container-btnMove_right">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="moments-head head">
            <h1 class="moments-head-title head-title">
                Наша робота
            </h1>
            <img src="img/lineGreen_ico.png" alt="___________" class="moments-head-line head-line">
            <p class="moments-head-subs head-subs">
                Фото реалізації проектів
            </p>
        </div>
        <ul class="moments-listBtn">
            <li class="moments-listBtn-item activeBtn all">Всі</li>
            <li class="moments-listBtn-item fiesta">Ярмарок</li>
            <li class="moments-listBtn-item build">Реконструкція</li>
            <li class="moments-listBtn-item placeChild">Благоустрій</li>
        </ul>
        <ul class="moments-gallery">
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-1-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item build">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-16-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-3-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-4-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-5-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-6-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item build">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-15-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-8-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item fiesta">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-9-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
            <li class="moments-gallery-item placeChild">
                <div class="moments-gallery-item-container">
                    <img src="img/gallery-19-small.jpg" alt="fest, Жуків" class="moments-gallery-item-pic">
                    <div class="moments-gallery-item-hover">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </div>
                </div>
            </li>
        </ul>
        <button class="moments-btn moments-btn-more">Більше фото <span class="glyphicon glyphicon-arrow-right moments-btn-more"></span></button>
    </div>
</article>
<article class="partners">
    <div class="container">
        <div class="partners-head head">
            <h1 class="partners-head-title head-title">
                Надійні партнери
            </h1>
            <img src="img/line_ico.png" alt="___________" class="partners-head-line head-line">
            <p class="partners-head-subs head-subs">
                Дякуємо організаціям, які готові завжди підтримати наші громадські ініціативи
            </p>
        </div>
        <div class="partners-slider">
            <ul class="partners-slider-line">
                <li class="partners-slider-line-item">
                    <img src="img/krona-foods.png" alt="krona" class="partners-slider-line-item-pic">
                </li>
                <li class="partners-slider-line-item">
                    <img src="img/zhukiv-rada.png" alt="Zhukiv-rada" class="partners-slider-line-item-pic">
                </li>
                <li class="partners-slider-line-item">
                    <img src="img/pd-un.png" alt="development-program-UN-EU" class="partners-slider-line-item-pic">
                </li>
                <li class="partners-slider-line-item">
                    <img src="img/berezhany-rda.png" alt="Ternopil-ODA" class="partners-slider-line-item-pic">
                </li>
                <li class="partners-slider-line-item">
                    <img src="img/ternopil-oda.png" alt="Berezhany-RDA" class="partners-slider-line-item-pic">
                </li>
                <li class="partners-slider-line-item">
                    <img src="img/pd-un.png" alt="development-program-UN-EU" class="partners-slider-line-item-pic">
                </li>
            </ul>
        </div>
    </div>
</article>
<article class="history">
    <div class="container">
        <div class="history-head head">
            <h1 class="history-head-title head-title">
                Історія і сучасність
            </h1>
            <img src="img/lineGreen_ico.png" alt="___________" class="history-head-line head-line">
            <p class="history-head-subs head-subs">
                Декілька фото, які показуть ті самі місця в тих самих ракурсах, колись і зараз.
            </p>
        </div>
        <ul class="history-listBtn">
            <li class="history-listBtn-item gynovychi">Гиновичі</li>
            <li class="history-listBtn-item wildwild">Підлісне</li>
            <li class="history-listBtn-item zhuk ActiveVillage">Жуків</li>
        </ul>
        <div class="history-info">
            Для ефекту порівняння:
            <span>
                - якщо Ви користуєтесь комп'ютером - наведіть курсором на картинку;
            </span>
            <span>
                - якщо Ви користуєтесь смартфоном чи планшетом - торкніться картинки.
            </span>
        </div>
        <div class="history-cards">
            <button class="history-cards-btn history-cards-btn_previous">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <div class="containerWrap">
                <ul class="history-cards-list">
                    <li class="history-cards-list-item activeOldPhoto">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-1-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-1.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-2-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-2.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-3-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-3.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-4-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-4.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-5-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-5.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-6-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-6.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-7-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-7.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                    <li class="history-cards-list-item">
                        <div class="history-cards-list-item-new">
                            <img src="img/history-zhukiv-8-new.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                        <div class="history-cards-list-item-old">
                            <img src="img/history-zhukiv-8.jpg" alt="Жуків старі фотографії (Підлісне, Гиновичі)" class="history-cards-list-item-pic">
                        </div>
                    </li>
                </ul>
            </div>
            <button class="history-cards-btn history-cards-btn_next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</article>
<!--@@close-->