<!--@@master = components/master.tmpl.html -->

<!--@@block = content-->
<article class="whatIsIt" id="whatIsIt">
    <!--<div class="bee">-->
        <!--<img src="img/bee.png" alt="bee" id="bee" class="bee-pic">-->
    <!--</div>-->
    <div class="container" id="wedo">
        <div class="whatIsIt-head head">
            <h1 class="whatIsIt-head-title head-title">
                Що таке Жу-Жу-Жуків
            </h1>
            <img src="img/line_ico.png" alt="___________" class="whatIsIt-head-line head-line">
            <p class="whatIsIt-head-subs head-subs">
                Фестиваль Жу-Жу-Жуків - це медовий ярмарок, дитячо-юнацький конкурс творчості "Мистецький вулик" та "Козацькі забави"
                <span>Роки проведенняЖ 2016, 2017</span>
            </p>
        </div>
        <div class="whatIsIt-content row">
            <div class="col-sm-4 whatIsIt-content-item">
                <div class="whatIsIt-content-item-img">
                    <img src="img/market_ico.png" alt="social icon" class="whatIsIt-content-item-img-pic">
                </div>
                <h3 class="whatIsIt-content-item-title">Медовий ярмарок</h3>
                <a href="#fair" class="whatIsIt-content-item-btn">
                    Дізнатись більше
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </div>
            <div class="col-sm-4 whatIsIt-content-item">
                <div class="whatIsIt-content-item-img">
                    <img src="img/competition_ico.png" alt="culture icon" class="whatIsIt-content-item-img-pic">
                </div>
                <h3 class="whatIsIt-content-item-title">
                    <span>Дитячо-юнацький конкурс творчості</span>
                    <span>"Мистецький вулик"</span>
                </h3>
                <a href="#competition" class="whatIsIt-content-item-btn">
                    Дізнатись більше
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </div>
            <div class="col-sm-4 whatIsIt-content-item">
                <div class="whatIsIt-content-item-img">
                    <img src="img/cossacks_ico.png" alt="social icon" class="whatIsIt-content-item-img-pic">
                </div>
                <h3 class="whatIsIt-content-item-title">Козацькі забави</h3>
                <a href="#cossacks" class="whatIsIt-content-item-btn">
                    Дізнатись більше
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </div>
        </div>
    </div>
</article>
<article class="fair" id="fair">
    <div class="container">
        <div class="fair-head head">
            <h1 class="fair-head-title head-title">
               Медовий ярмарок
            </h1>
            <img src="img/lineGreen_ico.png" alt="___________" class="fair-head-line head-line">
        </div>
        <div class="row fair-content">
            <div class=" col-md-offset-1 col-sm-6 col-xs-12 col-md-5">
                <div class="fair-content-slider">
                    <div class="fair-content-slider-line">
                        <img src="img/fair-slider-1.jpg" alt="fair" class="fair-content-slider-line-pic">
                        <img src="img/fair-slider-2.jpg" alt="fair" class="fair-content-slider-line-pic">
                        <img src="img/fair-slider-3.jpg" alt="fair" class="fair-content-slider-line-pic">
                        <img src="img/fair-slider-4.jpg" alt="fair" class="fair-content-slider-line-pic">
                        <img src="img/fair-slider-5.jpg" alt="fair" class="fair-content-slider-line-pic">
                        <img src="img/fair-slider-6.jpg" alt="fair" class="fair-content-slider-line-pic">
                        <img src="img/fair-slider-7.jpg" alt="fair" class="fair-content-slider-line-pic">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 fair-content-text">
                <h5 class="fair-content-title">
                    Бджільництво
                </h5>
                <p class="fair-content-subs">
                    - більше 20 бжолярів
                </p>
                <p class="fair-content-subs">
                    - більше 15 сортів "Княжого меду"
                </p>
                <p class="fair-content-subs">
                    - косметика на основі продуктів бджільництва
                </p>
                <p class="fair-content-subs">
                    - прополіс, вощина та інші продукти бджільництва
                </p>
                <h5 class="fair-content-title">
                    Майстер класи
                </h5>
                <p class="fair-content-subs">
                    - гончарство
                </p>
                <p class="fair-content-subs">
                    - плетіння з соломи
                </p>
                <p class="fair-content-subs">
                    - восковий розпис
                </p>
                <p class="fair-content-subs">
                    - різьбярство
                </p>
            </div>
        </div>
    </div>
</article>
<article class="competition" id="competition">
    <div class="competition-wrapper">
        <div class="container">
            <div class="competition-head head">
                <h1 class="competition-head-title head-title">
                    Мистецький вулик
                </h1>
                <img src="img/lineWhite_ico.png" alt="___________" class="competition-head-line head-line">
            </div>
            <div class="row competition-content">
                <div class="col-md-offset-1 col-xs-12 col-sm-6 col-md-5">
                    <div class="competition-content-text">
                        <h5 class="competition-content-text-title">
                            Загальна інформація
                        </h5>
                        <p class="competition-content-text-subs">- рівень проведення: обласний</p>
                        <p class="competition-content-text-subs">- три вікові категорії від 6 до 25 років</p>
                        <p class="competition-content-text-subs">- професійне журі з різних областей України</p>
                        <h5 class="competition-content-text-title">
                            Номінації
                        </h5>
                        <p class="competition-content-text-subs">- вокальне мистецтво</p>
                        <p class="competition-content-text-subs">- хореографічне мистецтво</p>
                        <p class="competition-content-text-subs">- майстерність слова</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 col-md-5">
                    <div class="competition-content-slider">
                        <div class="competition-content-slider-line">
                            <img src="img/competition-slider-1.jpg" alt="fair" class="competition-content-slider-line-pic">
                            <img src="img/competition-slider-2.jpg" alt="fair" class="competition-content-slider-line-pic">
                            <img src="img/competition-slider-3.jpg" alt="fair" class="competition-content-slider-line-pic">
                            <img src="img/competition-slider-4.jpg" alt="fair" class="competition-content-slider-line-pic">
                            <img src="img/competition-slider-5.jpg" alt="fair" class="competition-content-slider-line-pic">
                            <img src="img/competition-slider-6.jpg" alt="fair" class="competition-content-slider-line-pic">
                            <img src="img/competition-slider-7.jpg" alt="fair" class="competition-content-slider-line-pic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<article class="cossacks" id="cossacks">
    <div class="container">
        <div class="cossacks-head head">
            <h1 class="cossacks-head-title head-title">
                Козацькі забави
            </h1>
            <img src="img/lineGreen_ico.png" alt="___________" class="cossacks-head-line head-line">
        </div>
        <div class="row cossacks-content">
            <div class=" col-md-offset-1 col-sm-6 col-xs-12 col-md-5">
                <div class="cossacks-content-slider">
                    <div class="cossacks-content-slider-line">
                        <img src="img/cossacks-slider-1.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                        <img src="img/cossacks-slider-2.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                        <img src="img/cossacks-slider-3.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                        <img src="img/cossacks-slider-4.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                        <img src="img/cossacks-slider-5.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                        <img src="img/cossacks-slider-6.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                        <img src="img/cossacks-slider-7.jpg" alt="fair cossacks" class="cossacks-content-slider-line-pic">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="cossacks-content-text">
                    <h5 class="cossacks-content-text-title">
                        Змагання на мотоблоках
                    </h5>
                    <h5 class="cossacks-content-text-title">
                        Метання солом'яного тюка
                    </h5>
                    <h5 class="cossacks-content-text-title">
                        Перекотиколесо
                    </h5>
                    <h5 class="cossacks-content-text-title">
                        Турнір з волейболу
                    </h5>
                </div>
            </div>
        </div>
    </div>
</article>
<!--@@close-->