<div class="pubFooter" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 pubFooter-about">
                <h5 class="pubFooter-about-title small-title">
                    Про нас
                    <span></span>
                </h5>
                <P class="pubFooter-about-subs">
                    <span>
                        Громадська організація "Жуківська" створена 2015 року з ініціативи вчителів та батьків Жуківської ЗОШ I-III ст., за
                        підтрмики Жуківської сільської ради, та за сприяння Програми розвитку ООН
                        "Місцевий розвиток орієнтований на громаду". Громадська організація "Жуківська" є неурядовою, неприбутковою
                        організацією. Метою діяльності є сприяння підвищенню рівня економічного, соціального, культурного розвитку
                        сільської місцевості Бережанщини.
                    </span>
                    <span>Із питаннями звертайтесь на нашу електронну пошту, або пишіть в соціальні мережі</span>
                </P>
            </div>
            <address class="col-sm-6 pubFooter-contacts">
                <h5 class="pubFooter-about-title small-title">
                    Контакти
                    <span></span>
                </h5>
                <p class="pubFooter-contacts-address">
                    <span>47515</span>
                    <span>вул. Богдана Лепкого 30,</span>
                    <span>с.Жуків, Бережанський р-н.,</span>
                    <span>Тернопільска обл.,</span>
                    <span>Україна</span>
                </p>
                <p class="pubFooter-contacts-email">
                    <span>ngo.zhukiv@gmail.com</span>
                </p>
                <p class="pubFooter-contacts-network">
                    <a href="https://www.facebook.com/festzhukiv" target="_blank" class="pubFooter-contacts-network-link">
                        <img src="img/fb.png" alt="fb" class="pubFooter-contacts-network-link-pic">
                    </a>
                </p>
            </address>
        </div>
        <div class="pubFooter-copyright">
            <p class="pubFooter-copyright-row">Design - made with ♥ by Krisna :)</p>
            <p class="pubFooter-copyright-row">Layout - made with 💪 by T. :D</p>
        </div>
    </div>
</div>