<div
        class="myHeader"
        data-vide-bg="mp4: img/bg_1.mp4, webm: img/bg_1.webm, ogv: img/bg_1.ogv, poster: img/bg_1.jpg"
        data-vide-options="posterType: jpg, loop: true, muted: true, position: 50% 50%"
>
    <!--<div class="myHeader-background">-->
        <!--<video autoplay loop class="myHeader-background-video">-->
            <!--<source src="img/bg_1.mp4" type="video/mp4">-->
            <!--Your browser does not support the video tag.-->
        <!--</video>-->
    <!--</div>-->
    <div class="container myHeader-content">
        <div class="toggleBtn">
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <div class="myHeader-content-head" id = 'menu'>
            <ul class="myHeader-content-head-menu">
                <li class="myHeader-content-head-menu-item">
                    <a href="/" class="myHeader-content-head-menu-item-link">головна</a>
                </li>
                <li class="myHeader-content-head-menu-item">
                    <a href="/zhuzhuzhu.html" class="myHeader-content-head-menu-item-link">жу-жу-Жуків</a>
                </li>
                <li class="myHeader-content-head-menu-item">
                    <a href="/#wedo" class="myHeader-content-head-menu-item-link">наша діяьність</a>
                </li>
                <li class="myHeader-content-head-menu-item">
                    <a href="#contacts" class="myHeader-content-head-menu-item-link">контакти</a>
                </li>
            </ul>
            <img
                    src="img/logo.png"
                    alt="NGO Zhukivska, логотим громадської організації Жуківська"
                    class="myHeader-content-head-logo"
                    style="width: 100px"
            >
        </div>
        <div class="myHeader-content-center">
            <p class="myHeader-content-center-subs">
                <span>наш наймаштабніший проект</span>
                <span>медовий фестиваль-ярмарок</span>
            </p>
            <h2 class="myHeader-content-center-title">
                <span>жу-жу-Жуків</span>
            </h2>
            <a href="/zhuzhuzhu.html" class="myHeader-content-center-btn">дізнатись більше</a>
            <img
                    src="img/logoZhu.png"
                    alt="Жуків, Гиновичі, Підлісне, Медовий фестиваль, мистецький вулик"
                    class="myHeader-content-center-zhu"
                    style="display: none"
                    id = 'logoZhu'
            >
        </div>
        <div class="helpScroll">
            <a href="#wedo" class="myHeader-content-scroll">
                <span>дивитись далі...</span><span class="glyphicon glyphicon-arrow-down"></span>
            </a>
        </div>
    </div>
    <a href="#menu" class="btnTop">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>