<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Громадська Організація Жуківська, Бережанський район, Жуків, Підлісне, Гиновичі, фестиваль меду, музична школа">
    <title>NGO Zhukivska</title>

    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link rel="shortcut icon" href="img/ico.png">
</head>
</head>
<body>
    <div class="wrapperPage">
        <div class="wrapperPage-helpWrapp">
            <header class="headerPage">
                <!--@@include = header.tmpl.html-->
            </header>
            <main class="contentPage">
                <!--@@placeholder = content-->
            </main>
        </div>
    </div>
    <footer class="footerPage">
        <!--@@include = footer.tmpl.html-->
    </footer>
    <script src="js/vendor.min.js"></script>
    <script src="js/main.min.js"></script>
</body>
</html>